* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*-------------------------TEST------------------------------*/
body {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #000;
	background-color: #fff;
	height: 100%;
} 

.wrapper {
	min-height: 100%;	
	display: grid;
	grid-template: minmax(154px, auto) 1fr minmax(546px, auto) / 1fr;
	grid-template-areas: 
	"header"
	"main"
	"footer";
}

/* ._container {
	max-width: 1300px;
	padding: 0 15px;
	margin:  0 auto;
} */

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*--------------------------Header-------------------------------*/
 .header {	
	padding: 15px;
} 

.header__logo {
	grid-column: 2 / 3;
}

.header__menu {
	grid-column: 3 / 4;
}

 .menu {
	display: grid;
	grid-template: 1fr / minmax(auto, 707px) minmax(auto, 134px);
	align-items: center;
	
}
.menu__list {
	display: grid;
	grid-auto-flow: column;	
}

.menu__item {
}
.menu__link {
	color: #242323;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
.menu__button {
	display: inline-flex;
	color: #FEFEFE;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: -0.03em;
	background-color: #000;
	border: 1px solid #000;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 13px 12px 17px;
	border-radius: 7px;
	transition: all 0.3s ease 0s;	
}
.menu__button:hover {
	color: #242323;
	background-color: #FEFEFE;
	border: 1px solid #242323;
}

@media(min-width: 992px) {
	.header {
		grid-area: header;		
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 878.26px) minmax(auto, 840px) 1fr;
		align-items: center;
		padding: 0 15px;
		grid-auto-flow: column;		
	}
	
	.menu {
		display: grid;
		grid-template: 1fr / minmax(auto, 707px) minmax(auto, 134px);
		align-items: center;		
	}
	.menu__list {
		display: grid;
		grid-auto-flow: column;	
	}	
}

@media(max-width: 992px) {
	.menu {
		grid-template: 1fr / minmax(auto, 810px) minmax(auto, 134px);
	}
}

@media(max-width: 600px) {
	.menu {
		display: grid;
		grid-template: 1fr 1fr / minmax(auto, 600px);
		align-items: center;		
	}
	.menu__button {
		justify-self: start;
		align-self: start;
	}
	.menu__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 135px);
		gap: 10px 15px;
		grid-auto-flow: row;	
		justify-items: start;
		margin-bottom: 10px;
	}
}

/*--------------------------------Page---------------------------------*/
.page__main-block {
}
.page__partners {
}
.page__arrivals {
}
.page__payday {
}
.page__favourite {
}
.page__voucher {
}
.page__comunity {
}
/*--------------------------------Main---------------------------------*/
.page {
	grid-area: main;	
}
/*---------------------------------Main-block-------------------------*/
.main-block {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 725px) minmax(auto, 995px) 1fr;
	padding: 77px 15px 90px 15px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center 10px;
	background-image: url("../img/main-block/cover-bg.jpg");
}
.main-block__body {
	grid-column: 2 / 3;
	max-width: 606px;
	padding-left: 119px;
	/* position: relative; */
	/* z-index: 88; */
}
.main-block__title {
	font-weight: 900;
	font-size: 96px;
	line-height: 125%;
	z-index: 22;
	position: relative;
	margin-bottom: -241px;
	}

.main-block__word1 {
	position: relative;
	background-color: #FFFFFF;
	top: -35%;
	left: -20px;
	display: inline-block;
	width: 464.74px;
	height: 125px;
	transform: rotate(-2deg);
  }

.main-block__word2 {
	position: relative;
	background-color: #EBD96B;
	bottom: 18%;
	left: -20px;
	display: inline-block;
	width: 464.74px;
	height: 112.14px;
	/* z-index: 3; */
	transform: rotate(-2deg);
}

.main-block__subtitle {
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.05em;
	color: #191818;
	margin-bottom: 32px;	
}
.main-block__button {
	display: grid;
	grid-template: minmax(auto, 82px) / minmax(224px, auto) 1fr;
	align-items: center;
	justify-items: center;
	position: relative;
}

.button-main {
	
}
.button-main__decor {
	position: absolute;	
	width: 190px;
	height: 32px;
	top: 29px;
	left: 0;
	background-image: url("../img/main-block/decor_1.svg");
	background-repeat: no-repeat;	
	}

.button-main__button {
	grid-column: 2 / 3;
	font-size: 30px;
	line-height: 150%;
	letter-spacing: -0.05em;
	color: #FFFFFF;
	padding: 19px 41px;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 10px;
	min-height: 82px;
	justify-self: start;
	transition: all 0.3s ease 0s;	
}

.button-main__button:hover {
	color: #242323;
	background-color: #FEFEFE;
	border: 1px solid #242323;
}

@media(max-width: 1574px) {
	.main-block {
		background-position: center center;
		background-size: cover;
	}
}

@media(max-width: 992px) {
	.main-block__body {
		padding-left: 26px;
		max-width: 580px;
	}
	.main-block__title {
		font-size: 77px;
		line-height: 121%;	
		margin-bottom: -162px;
  }
  .main-block__word1 {
		top: -35%;
		left: -20px;	
		width: 337px;
		height: 96px;
}
	.main-block__word2 {	
		bottom: 21%;
		left: -20px;
		width: 337px;
		height: 96px;	
}
}

@media (max-width: 586px) {
	.main-block {
		z-index: 12;
	}
	.main-block__title {
		margin-bottom: -152px;
  }
  .main-block__subtitle {	
	margin-bottom: 48px;
}
  .main-block__word1 {
	top: -37%;
	}

	.main-block__word2 {
		bottom: 22%;
	}
	.button-main__button {		
		padding: 19px;
  }
  .button-main__decor {	
	display: none;
}
.main-block__button {
	display: block;
}
}


@media (max-width: 479px) {
	.main-block__body {		
		max-width: 450px;
  }
	.main-block__title {
		font-size: 60px;
	}
	.main-block__word1 {
		top: -30%;
		width: 292px;
		height: 81px;
		}
	
	.main-block__word2 {
		bottom: 16%;
		width: 292px;
		height: 81px;
	}
}

/*----------------------------Partners-------------------------------*/

.partners {
	padding-top: 61px;
	padding-bottom: 39px
	
}
.partners__cover {
	display: grid;
	grid-template: minmax(249px, 1fr) / 1fr minmax(auto, 1720px) 1fr;
	background-color: #EBD96B;
}
.partners__row {
	padding: 61px 71px 54px;
	grid-column: 2 / 3;	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, auto)); 	/*поделил ширину блока с партнерами (без боковых паддингов) на количество колонок,
	получил 190px сделал этот размер минимальным,а макс. авто и autofit для заполнения и растягивания колонок на все пространства блока партнеров*/
	align-items: center;
	justify-items: center;
}
.partners__item:not(:last-child) {
	margin-bottom: 30px;
}

/*---------------------Arrivals----------------------*/

.arrivals {	
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1720px) 1fr;
	position: relative;
	padding: 30px 15px 193px 15px;
}

.arrivals__title {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	margin-bottom: 101px;
	font-weight: 900;
	font-size: 48px;
	line-height: 104%;	
	position: relative;
	z-index: 10;
	text-transform: uppercase;
}

.arrivals__decor {	
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	position: absolute;
	width: 190px;
	height: 32px;
	top: 23px;
	left: 182px;
	bottom: 0;
	background-image: url("../img/main-block/decor_1.svg");
	background-repeat: no-repeat;
	z-index: 5;
}

/*----------------------Свойства для блока с карточками 
(медиазапросы для адаптации не понадобились)------------------*/
.arrivals__row {
	grid-column: 2 / 3;
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 90px;
	row-gap: 50px;	
	
}
.arrivals__item {
	display: grid;
	grid-template: auto 1fr minmax(64px, auto);	
}
.arrivals__image {
	position: relative;
	padding: 0 0 145.45% 0;
	margin: 0 0 28px 0;
	
}
.arrivals__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 20px;
}

@media(max-width: 1111px) {
	.arrivals {		
		padding-bottom: 90px;
  }
	.arrivals__row {		
		grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));		
		justify-self: center;
	}

} 
/*----------------------------------------------------------*/

.arrivals__text {
}
.text-arrivals {
	position: relative;
}
.text-arrivals::after {
	content: "";
	position: absolute;
	top: 69px;
	left: 93%;
	width: 34px;
	height: 32px;
	background-image: url("../img/arrivals/arrow-right.svg");
	background-repeat: no-repeat;
}
.text-arrivals__title {
	font-size: 32px;
	line-height: 156%;
	letter-spacing: -0.04em;	
	color: #191919;
}
.text-arrivals__action {
	font-size: 24px;
	line-height: 208%;
	letter-spacing: -0.04em;
	color: #7F7F7F;	
}


@media(max-width: 992px) {
	.arrivals__title {		
		margin-bottom: 50px;
  }
}

/*--------------------------Payday------------------*/

.payday {
	display: grid;
	grid-template: minmax(500px, 968px) / 1fr minmax(auto, 1720px) 1fr;
	justify-items: end;
	background-color: #F9DF56;
	position: relative;
}

.payday__body {
	grid-column: 2 / 3;
	max-width: 671px;
	padding: 128px 15px 0;	
	/* position: relative; */
	z-index: 6;
}
.payday__text {
	
}
.text-payday {
}
.text-payday__title {	
	font-weight: 900;
	font-size: 112px;
	line-height: 123%;
	margin-bottom: 33px;	
	grid-row: 1 / 2;
	position: relative;
	z-index: 17;
}

.text-payday__title::after{
	content: "";
	position: absolute;
	background-color: #FFFFFF;
	opacity: 1;
	top: 0;
	left: -4%;
	display: inline-block;
	width: 542px;
	height: 131px;
	transform: rotate(-2deg);
	z-index: -10;
}

.text-payday__text {
	font-size: 36px;
	line-height: 145%;
	letter-spacing: -0.02em;
	color: #231300;	
	margin-bottom: 40.6px;
	grid-row: 2 / 3;
}
.text-payday__subtitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 145%;
	letter-spacing: -0.02em;	
	margin-bottom: 10.6px;
	grid-row: 2 / 3;
	color: #000000;
}

.text-payday__notice {
	font-weight: 400;
	font-size: 36px;
	line-height: 145%;
	letter-spacing: -0.02em;
	margin-bottom: 51px;
	grid-row: 2 / 3;
}
.text-payday__button {
	font-weight: 600;
	font-size: 27px;
	line-height: 155.5%;
	letter-spacing: -0.05em;
	color: #FFFFFF;
	padding: 26px 51px;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 8px;
	min-height: 95.3px;
	letter-spacing: 0.02em;
	grid-row: 3 / 4;
	margin-bottom: 155px;
	transition: all 0.3s ease 0s;	
}

.text-payday__button:hover {
	color: #242323;
	background-color: #FEFEFE;
	border: 1px solid #242323;
}


.button-main__button {	
}

.payday__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
	grid-column: 1 / -1;
	grid-row: 1 / -1;	
}

.payday__image img {
	object-position: 12%;
}

@media (min-width: 1932px) {
	.payday__image img {
		object-position: top;
	}
	.payday__image img {
		object-position: 33% top;
  }
}

@media (max-width: 1205px) {
	.payday__body {
		/*grid-column: 1 / 2;*/	
		padding-left: 25px;	
	} 
	.payday__image {
		opacity: 0.6;
	}	
	.payday__image img {
		object-position: 51%;
  }
}

@media (max-width: 992px) {
	.payday__body {
		padding-top: 227px;
		max-width: 610px;		
  }
	.text-payday__title {
		font-weight: 700;
		font-size: 85px;
		line-height: 105%;
  }
  .text-payday__title::after {	
	width: 430px;
	height: 88px;	
}
.text-payday__text {
	font-size: 33px;
	line-height: 135%;	
}
.text-payday__subtitle {	
	font-size: 33px;
	line-height: 135%;
}
.text-payday__notice {	
	font-size: 33px;
	line-height: 135%;
	margin-bottom: 106px;
}
	.payday__image img {
		object-position: 33%;
  }
}

/*-------------------------Favourite-------------------*/


.favourite {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1720px) 1fr;
	padding: 190px 15px 110px 15px;	
}

.favourite__title {	
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	margin-bottom: 104px;
	font-weight: 900;
	font-size: 48px;
	line-height: 104%;	
	position: relative;
	z-index: 10;
}

.favourite__title::after {
	content: "";
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	position: absolute;
	width: 190px;
	height: 32px;
	top: 25px;
	left: 269px;
	bottom: 0;
	background-image: url("../img/main-block/decor_1.svg");
	background-repeat: no-repeat;
	z-index: -5;
}

.favourite__row {	
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	column-gap: 47px;	
}

.row-favourite {
}
.row-favourite__item {
	display: grid;
	grid-template-rows: auto minmax(36px, auto) minmax(33px, auto);
}
.row-favourite__image {
	position: relative;
	padding: 0 0 68.94% 0;
	margin: 0 0 28px 0;
}
.row-favourite__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
.row-favourite__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 156%;
	letter-spacing: -0.04em;
}
.row-favourite__subtitle {
	font-weight: 500;
	font-size: 24px;
	line-height: 141%;
	letter-spacing: -0.04em;
	color: #7F7F7F;
	position: relative;
}

.row-favourite__subtitle::after {
	content: "";
	position: absolute;
	top: -22px;
	left: 94%;
	width: 34px;
	height: 32px;
	background-image: url("../img/arrivals/arrow-right.svg");
	background-repeat: no-repeat;
}

.arrivals__item {
	display: grid;
	grid-template: auto 1fr minmax(64px, auto);	
}
.arrivals__image {
	position: relative;
	padding: 0 0 145.45% 0;
	margin: 0 0 28px 0;
	
}
.arrivals__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 20px;
}

/*-------------------Voucher---------------------*/

.voucher {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1720px) 1fr;
	padding: 110px 15px;
}
.voucher__body {
	grid-column: 2 / 3;
	display: grid;
	padding: 0 103px;
	grid-template-rows: minmax(710, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.voucher__text {
	display: grid;
	grid-template-rows: 185px 102px 136px;
	align-items: end;
	padding-top: 178px;
	padding-bottom: 148px;
	max-width: 507px;
}
.text-voucher {
	grid-column: 2 / 3;
}
.text-voucher__title {
	font-weight: 900;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: 0.06em;	
	align-self: start;
}

.text-voucher__offer {
	font-weight: 500;
	font-size: 24px;
	line-height: 146%;
	letter-spacing: -0.04em;
	color: #7C7C7C;
}

.text-voucher__app img:not(:last-child) {
	margin-right: 19px;
}
.voucher__image {
	grid-column: 3 / 4;
}

.voucher__image  {
	position: relative;
	padding: 0 0 131.4% 0;
	
}
.voucher__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media(max-width: 1070px) {
	.voucher__text {		
		grid-template-rows: minmax(185px, 288px) 102px 136px;	
	}
}


@media(max-width: 1273px) {
	.voucher__body {
		padding: 0 20px;
	}	
}

@media (max-width: 985px) {
	.voucher {
		padding: 50px 15px;
  }
	.voucher__body {
		padding: 0;
	}
	.voucher__text {
		padding: 0 0 50px 0;
		grid-template-rows: 185px 102px 136px;
		margin: 0 auto;
	}
	.text-voucher {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.voucher__image  {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
}

/*---------------------Community--------------------*/

.community {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1720px) 1fr;
	padding: 141px 0 156px 0;
	background-color: #E5C643;
	text-align: center;
	justify-items: center;
}
.community__title {
	grid-column: 2 / 3;
	font-weight: 900;
	font-size: 55px;
	line-height: 127%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 37px;
}
.community__subtitle {
	grid-column: 2 / 3;
	font-weight: 400;
	font-size: 32px;
	line-height: 109%;
	letter-spacing: 0.03em;
	color: #FFFCF8;
	margin-bottom: 49px;
}
.community__form {
	grid-column: 2 / 3;
	display: grid;
	grid-template: 1fr / minmax(auto, 574px);
	position: relative;
	
}
.community__input {
	background-color: #fff;
	padding: 27px 107px 25px 27px;
	font-weight: 400;
	font-size: 24px;
	line-height: 146%;
	letter-spacing: 0.03em;
	color: #767676;	
	border-radius: 8px;
}

.community__button {
	display: inline-flex;
	min-width: 161px;
	align-items: center;
	justify-content: center;
	min-height: 61px;
	background-color: #000000;
	font-weight: 500;
	font-size: 33px;
	line-height: 106%;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #FFFFFF;
	padding: 17px 38px;
	border-radius: 8px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 17px 10px 15px 10px;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;	
}

.community__button:hover {
	color: #242323;
	background-color: #FEFEFE;
	border: 1px solid #242323;
}

/*---------------------Footer----------------------*/
.footer {
	grid-area: footer;
	display: grid;
	background-color: #f5f5f5;
	grid-template: 1fr / 1fr minmax(auto, 1720px) 1fr;
	padding: 119px 15px 147px;
	background-color: #000;
}


.footer__body {
	grid-column: 2 / 3;
	display: grid;
	column-gap: 188px;	
	/* 1 вариант - grid-template: 1fr / minmax(415px, 440px) 39px minmax(133px, auto) minmax(193px, auto) minmax(235px,auto);	 */
	grid-template: 1fr / minmax(415px, 440px) 39px minmax(133px, 140px) minmax(176px, 193px) minmax(auto, 235px);	
}
.footer__column {
	padding-top: 6px;
}
.footer__column--logo {	
	padding-top: 0;
}
.footer__column--logo >*:not(:last-child) {
	margin-bottom: 32px;
}
.footer__logo {
	display: block;	
}
.footer__slogan {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 24px;
	line-height: 167%;
	letter-spacing: 0.02em;
	color: #8E8E8E;
}
.footer__social-list {
	display: flex;
	max-width: 250px;
	justify-content: space-between;
}
.social-list {
}
.social-list__item {
}
.social-list__link {
	font-family: 'Roboto';
	width: 52px;
	height: 52px;
	background-color: #EBD96B;
	border-radius: 15px;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
}
.column-footer {
}
.footer__column--company {
	grid-column: 3 / 4;
	
}

.footer__column--link {
	grid-column: 4 / 5;
}
.footer__column--legal {
	grid-column: 5 / 6;
}
.column-footer__title {
	font-family: 'Roboto';
	display: block;
	font-weight: 400;
	font-size: 24px;
	line-height: 167%;
	letter-spacing: 0.02em;
	color: #D9D9D9;
	margin: 0 0 32px 0;
}
.column-footer__list >*:not(:last-child) {
	margin: 0 0 24px 0;
}
.column-footer__item {
}
.column-footer__link {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 24px;
	line-height: 167%;
	letter-spacing: 0.02em;
	color: #8E8E8E;
}

@media(max-width: 1273px) {
	.footer__body {
		column-gap: 90px;
		grid-template-columns: repeat(auto-fit, minmax(220px, 350px));
	}
	
}

@media(max-width: 992px) {
	.footer {		
		padding: 70px 50px 75px;		
	}
	.footer__body {
		grid-template-rows: 1fr 1fr;		
		row-gap: 40px;
	}
	.footer__column--logo {
		grid-column: 1 / 2;	
		grid-row: 1 / 2;
	}
	.footer__column--company {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		
	}
	
	.footer__column--link {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	.footer__column--legal {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}
	
}